#divFuvest,
#divVunesp {
    display: none;
}

body {
    background-color: rgb(45, 49, 66);
}

section {
    width: 850px;
    background-color: rgb(79, 93, 117);
    padding: 20px;
    margin: auto;
    box-shadow: 8px 8px 1px rgb(191, 192, 192);
}

p {
    font: normal 25px Gidole;
    color: white;
}

select {
    width: 100px;
    height: 30px;
    font: normal 18pt Gidole;
}

#divComent input {
    width: 520px;
    height: 30px;
    font: normal 17pt Gidole;
}

#divComent, #divVest {
    font: normal 30px Gidole;
    color: white;
    background-color: rgb(239, 131, 84);
    width: 1;
    padding-bottom: 5px;
    margin: auto;
    line-height: 50px;
    text-align: center;
}


input[type='text'], #vest {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}


input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(239, 131, 84);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


h1 {
    font-family: Kollektif;
    font-size: 55px;
    font-weight: bold ;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0px rgb(239, 131, 84);
}

footer {
    padding: 30px;
    text-align: center;
    font: normal 32px Kollektif;
    color: white;
}

strong {
    color: rgb(239, 131, 84);
    font: bolder 27px Gidole;
}

#divBot {
    padding-top: 23px;
    text-align: center;
}

#bot {
    width: 250px;
    height: 65px;
    text-align: center;
    background-color: rgb(239, 131, 84);
    font: normal 22pt Kollektif;
    color: whitesmoke;
    border-style: outset;
    border-color: rgb(245, 173, 146);
    border-width: 7px;
}

#bot:hover {
    background-color: rgb(239, 131, 84);
    color: rgb(255, 255, 255);
    border-style: inset;
    border-color:rgb(245, 173, 146);
    border-width: thick;
}

#bot:active {
    background-color: whitesmoke;
    color: rgb(239, 131, 84);
    border-style: inset;
    border-color: rgb(245, 173, 146);
    border-width: thick;
}